* {
  margin: 0px;
  padding: 0px;
}
header {
  height: 25vh;
  background-color: #081c15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.repos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
img {
  height: 80px;
  border-radius: 40px;
  margin-right: 10px;
}
.repo {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #edf6f9;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .repos {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .repos {
    grid-template-columns: 1fr;
  }
}
form {
  margin: 40px;
}
input {
  border: none;
  background-color: #edf6f9;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}
button {
  border: none;
  background-color: #081c15;
  padding: 10px 15px;
  border-radius: 15px;

  color: white;
}
.forks_count {
  color: #6893a1;
}
.repo > h2 {
  color: #081c15;
}
